@model CreateBrandDto
@{
    ViewData["Title"] = "CreateBrand";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Brands</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a asp-controller="AdminDashboard" asp-action="Index">Dashboard</a></li>
                    <li class="breadcrumb-item"><a asp-controller="AdminBrand" asp-action="Index">Brand</a></li>
                    <li class="breadcrumb-item">Add Brand</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="card">
    <div class="card-body">

        <h4 class="card-title">Create Brand</h4>
        <p class="card-subtitle mb-4">You can create brand on table below.</p>

        <form method="post">
            <div class="form-group">
                <label for="exampleInputModel">Brand</label>
                <input type="text" class="form-control" id="exampleInputFeatureName" asp-for="Name" placeholder="Enter Brand">
            </div>
            <button type="submit" class="btn btn-primary waves-effect waves-light" asp-controller="AdminBrand" asp-action="CreateBrand">Add Brand</button>
        </form>

    </div> <!-- end card-body-->
</div> <!-- end card-->
